.center_container_wrapper {

    display: flex;
    flex-direction: column;

}

.center_content {
    width: calc(100vw - 50vw);
    align-self: center;
    text-align: justify;
    justify-content: center;
}

.center_content_details {
    display: flex;
    justify-content: space-between;
}

.col {
    text-align: center;
}

.center_content>h3 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
}

.paragraph_content {
    text-align: justify;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
}

.paragraph_heading {
    text-align: center;
    color: var(--black);
}