.tour_heading {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1ch;
}

.places_details_container {
    display: flex;
    width: calc(100vw - 45vw);
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-between;
}


.places-details-item {
    width: 30%;
    background-color: var(--white);
    text-align: center;
    padding-bottom: 20px;
}

.places-details-item>h5 {}

.tour_image {
    width: 100%;
}

.tour_buy_btn {
    background-color: var(--black);
    color: var(--white);
    margin-left: 20px;
    padding: 5px;
    text-decoration: none;
}

.tour_buy_btn:hover {
    transform: scaleX(1.1);
    border-radius: 2px solid var(--black);
    background-color: var(--grey);
}